.featured {
    margin-top: 91px;
    text-align: center;
}

.featuredHeaderTop {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222
}

.featuredHeaderBottom {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
    margin-bottom: 50px;
}

.featuredBrowseAllBtn {
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-top: 54px;
    border: none;
}