@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

header .container {
  height: inherit;
  display: flex;
  align-items: center;
}

.logo {
  background: url(../images/logo.png) no-repeat left center;
  height: 51px;
  padding-left: 72px;
  font-size: 27px;
  line-height: 51px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.logo span {
  font-weight: 900;
  color: #f16d7f;
}

.topSearch {
  display: flex;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
  margin-left: 37px;
}

.topSearch div {
  width: 87px;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.topSearch div i {
  margin-left: 8px;
}

.topSearch input {
  border: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  outline: none;
  padding: 14px 16px;
  width: 280px;
  box-sizing: border-box;
}

.topSearch input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: inherit;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.topSearch input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: inherit;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.topSearch input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: inherit;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.topSearch input:-moz-placeholder {
  /* Firefox 18- */
  font-family: inherit;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.topSearch button {
  border: none;
  width: 37px;
  background: white;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #a4a4a4;
}

.myAccountBtn {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: none;
}

.myAccountBtn i {
  margin-left: 8px;
}

.cart {
  margin-left: auto;
  margin-right: 26px;
}

.topNav {
  height: 51px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.topNav a {
  text-decoration: none;
  font-size: 14px;
  line-height: 51px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  border-bottom: 3px solid transparent;
}

.topNav a:hover {
  cursor: pointer;
  border-bottom: 3px solid #ef5b70;
}

.topNav a:not(:last-child) {
  margin-right: 46px;
}

.newArrivals {
  background-color: #f8f3f4;
}

.newArrivals .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
}

.newArrivals h1 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.newArrivals nav {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.newArrivals a {
  text-decoration: none;
  text-transform: uppercase;
  color: #636363;
}

.newArrivals a:hover {
  color: #f16d7f;
}

.navTitle {
  background: none;
  border-radius: 0 !important;
  padding: 11.5px 16px;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navTitle:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 5px;
  height: 37px;
  background-color: #ef5b70;
}

.navUnit {
  border: none;
  border-radius: 0;
}

.navUnit:not(:last-child) {
  margin-bottom: 18px;
}

.navUnit nav a {
  display: block;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: #6f6e6e;
}

.productsAdjustment {
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
}

.productsAdjustment h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.productsAdjustment .adjustmentLinks {
  color: #dfdfdf;
  width: 190px;
  margin-left: -7px;
}

.productsAdjustment .adjustmentLinks a {
  color: #6f6e6e;
  padding-left: 7px;
  line-height: 28px;
}

.productsAdjustment .adjustmentLinks a:after {
  content: '|';
  margin-left: 7px;
}

.productsAdjustment .adjustmentLinks a:last-child:after {
  display: none;
}

.productsAdjustment .adjustmentSize {
  display: flex;
  flex-wrap: wrap;
}

.productsAdjustment .adjustmentSize div {
  width: 56px;
}

.productsAdjustment .adjustmentSize input[type="checkbox"] {
  opacity: 0.3;
}

.productsAdjustment .adjustmentSize input[type="checkbox"]:checked {
  opacity: 1;
}

.productsAdjustment .priceRange {
  width: 262px;
  height: 14px;
  background: url(../images/priceRange.svg) no-repeat;
}

.productsAdjustment .priceValues {
  display: flex;
  justify-content: space-between;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 14px;
}

.productsAdjustment .productSorting {
  margin-top: 20px;
  height: 50px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: flex-start;
}

.productsAdjustment .productSorting .sortingUnit {
  display: flex;
  align-items: center;
  padding: 7px;
}

.productsAdjustment .productSorting .sortingUnit .sortingTitle,
.productsAdjustment .productSorting .sortingUnit .sortingSelect {
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #6f6e6e;
  padding: 7px;
}

.productsAdjustment .productSorting .sortingUnit .sortingSelect {
  border-left: none;
}

.productsAdjustment .productSorting .sortingUnit .sortingSelect i {
  margin-left: 13px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products .featuredItem {
  margin-bottom: 35px;
}

.products .featuredItem .featuredHover {
  position: absolute;
  width: 263px;
  height: 281px;
  background-color: rgba(58, 56, 56, 0.83);
  display: none;
}

.products .featuredItem .featuredHover button {
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products .featuredItem .featuredPicture {
  width: 263px;
  height: 281px;
  object-fit: contain;
  background-color: #efefef;
}

.products .featuredItem .featuredPicture img {
  height: 100%;
}

.products .featuredItem .featuredInfo {
  height: 83px;
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 18px;
  box-sizing: border-box;
}

.products .featuredItem .featuredInfo .featuredItemName {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  color: #222222;
}

.products .featuredItem .featuredInfo .featuredItemPrice {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #f16d7f;
  margin-top: 13px;
}

.products .featuredItem:hover .featuredHover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .featuredItem:hover .featuredInfo {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination .pages {
  width: 260px;
  height: 44px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  color: #c4c4c4;
}

.pagination .pages span {
  margin-left: -15px;
  margin-right: -15px;
}

.pagination .pages a,
.pagination .pages i {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-decoration: none;
}

.pagination .pages a:hover,
.pagination .pages i:hover {
  color: #ef5b70;
  cursor: pointer;
}

.pagination .pages i {
  font-weight: 700;
}

.pagination button {
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background: none;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

.info {
  background-color: #222224;
}

.info .container {
  display: flex;
  justify-content: space-between;
  height: 341px;
}

.info .container .infoBlock {
  color: #fbfbfb;
  letter-spacing: 0.025em;
  width: 308px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info .container .infoBlock .infoBlockHeader {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 29px;
}

.info .container .infoBlock .infoBlockText {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin-top: 10px;
}

.reviewsAndSubscribe {
  height: 438px;
  background: url(images/subscribeBackground.jpg) no-repeat, rgba(242, 242, 242, 0.5);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: left bottom;
  margin-bottom: 100px;
}

.reviewsAndSubscribe .container {
  display: flex;
  height: inherit;
}

.reviews {
  width: 50%;
  border-right: 1px solid white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.subscribe {
  width: 50%;
}

.reviewsInside {
  display: flex;
  justify-content: space-between;
  width: 497px;
}

.reviewsInside img {
  width: 83px;
  height: 83px;
}

.reviewsText {
  width: 386px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
  margin-bottom: 3px;
}

.reviewsName {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.reviewsLocation {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #222224;
}

.reviewsSwitcher {
  margin-top: 41px;
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.reviewsSwitcher div {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.reviewsSwitcher div:hover {
  cursor: pointer;
  background-color: #f16d7f;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.subscribeHeader {
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #222224;
}

.subscribeText {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.subscribeForm {
  display: flex;
  margin-top: 26px;
}

.subscribeForm input {
  width: 282px;
  height: 46px;
  background-color: #e1e1e1;
  outline: none;
  border: none;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  padding-left: 28px;
  box-sizing: border-box;
  font-family: inherit;
}

.subscribeForm input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.67;
  font-family: inherit;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribeForm input::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.67;
  font-family: inherit;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribeForm input:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.67;
  font-family: inherit;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribeForm input:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.67;
  font-family: inherit;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribeBtn {
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border: none;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

footer {
  /* height: 458px; */
  display: flex;
  justify-content: space-between;
}

.footerDescription {
  width: 427px;
}

.footerDescriptionText {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}

.footerDescriptionText p {
  margin-top: 26px;
}

.footerSection {
  text-align: left;
}

.footerSection h2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 33px;
}

.footerSection a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  margin-bottom: 23px;
}

.footerSection a:hover {
  color: #f16d7f;
}

.copyrightsAndSocialMedia {
  height: 80px;
  background: #e6e6e6;
  margin-top: 70px;
}

.copyrightsAndSocialMedia .container {
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: center;
}

.copyrights {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.socialMedia {
  display: flex;
}

.socialMedia a {
  text-decoration: none;
}

.socialMedia i {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #b2b2b2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-left: 8px;
}

.socialMedia i:hover {
  color: #f7f7f8;
  background-color: #f16d7f;
}

main {
  margin-top: 60px;
}

.products {
  margin-top: 45px;
}

.pagination {
  margin-bottom: 106px;
}
/*# sourceMappingURL=style.css.map */