@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
}

@media (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}

.logo {
  background: url(../images/logo.png) no-repeat left center;
  height: 51px;
  padding-left: 72px;
  font-size: 27px;
  line-height: 51px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.logo span {
  font-weight: 900;
  color: #f16d7f;
}

header {
  min-height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
}

@media (max-width: 1199px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}

@media (max-width: 991px) {
  header {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  header > * {
    margin-top: 15px;
  }
}

header .logo {
  transition-property: transform;
  transition-duration: 2s;
}

header .logo:hover {
  transform: rotateY(180deg);
}

.topSearch {
  display: flex;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
  margin-left: 37px;
}

@media (max-width: 991px) {
  .topSearch {
    margin-left: 0;
  }
}

.topSearch div {
  width: 87px;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.topSearch div i {
  margin-left: 8px;
}

.topSearch input {
  border: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  outline: none;
  padding: 14px 16px;
  width: 280px;
  box-sizing: border-box;
}

@media (max-width: 450px) {
  .topSearch input {
    width: auto;
  }
}

@media (max-width: 365px) {
  .topSearch input {
    width: 150px;
  }
}

.topSearch input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: inherit;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.topSearch input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: inherit;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.topSearch input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: inherit;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.topSearch input:-moz-placeholder {
  /* Firefox 18- */
  font-family: inherit;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.topSearch button {
  border: none;
  width: 37px;
  background: white;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #a4a4a4;
}

.myAccountBtn {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: none;
  transition-property: box-shadow;
  transition-duration: 1s;
}

.myAccountBtn:hover {
  box-shadow: 5px 2px 0 #cccccc;
}

@media (max-width: 991px) {
  .myAccountBtn {
    margin-bottom: 15px;
  }
}

.myAccountBtn i {
  margin-left: 8px;
}

.cart {
  margin-left: auto;
  margin-right: 26px;
  transition-duration: 1s;
  transition-property: transform;
}

@media (max-width: 991px) {
  .cart {
    margin-left: initial;
    margin-right: 0;
  }
}

.cart:hover {
  transform: rotate(20deg);
}

.topNav {
  min-height: 51px;
  padding: 0 20px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 450px) {
  .topNav {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-left: 18px;
  }
}

.topNav a {
  text-decoration: none;
  font-size: 14px;
  line-height: 51px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  border-bottom: 3px solid transparent;
}

.topNav a:hover {
  cursor: pointer;
  border-bottom: 3px solid #ef5b70;
}

.topNav a:not(:last-child) {
  margin-right: 46px;
}

.promo {
  height: 614px;
  background-color: #e8e8e8;
}

.promo .container {
  height: inherit;
  background: url(../images/topHeaderBack.png) no-repeat right 40px top;
  background-size: 555px;
  display: flex;
  align-items: center;
}

@media (max-width: 640px) {
  .promo .container {
    background-position: top;
  }
}

@media (max-width: 500px) {
  .promo .container {
    align-items: flex-end;
  }
}

.promoSlogan {
  height: 92px;
  border-left: 12px solid #f16d7f;
  font-weight: 900;
  color: #222222;
  padding-left: 12px;
  animation: sloganAnimation;
  animation-duration: 8s;
}

@media (max-width: 500px) {
  .promoSlogan {
    background-color: #e8e8e8;
  }
}

@keyframes sloganAnimation {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sloganTop {
  font-size: 60px;
  line-height: 41.5px;
  letter-spacing: 0.025em;
}

@media (max-width: 500px) {
  .sloganTop {
    font-size: 45px;
  }
}

.sloganBottom {
  font-size: 40px;
  margin-top: 11px;
}

@media (max-width: 500px) {
  .sloganBottom {
    font-size: 25px;
  }
}

.sloganBottom span {
  color: #f16d7f;
}

.offers {
  margin-top: 98px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas: "offerMen offerWomen" "offerMen offerKids" "offerAccesories offerKids";
}

@media (max-width: 768px) {
  .offers {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "offerMen" "offerWomen" "offerKids" "offerAccesories";
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  .offers {
    width: 60%;
  }
}

.offers img {
  display: block;
  width: 100%;
}

.offerMen,
.offerAccesories,
.offerWomen,
.offerKids {
  position: relative;
}

.offerMen {
  grid-area: offerMen;
}

.offerAccesories {
  grid-area: offerAccesories;
}

.offerWomen {
  grid-area: offerWomen;
}

.offerKids {
  grid-area: offerKids;
}

.offerLabel {
  position: absolute;
  top: 20px;
  background-color: #ffffff;
  padding: 16px 19px 12px 19px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

@media (max-width: 940px) {
  .offerLabel {
    top: initial;
    bottom: 25px;
  }
}

.labelTop {
  font-size: 18px;
  line-height: 1.2;
  color: #222222;
}

@media (max-width: 400px) {
  .labelTop {
    font-size: 16px;
  }
}

.labelBottom {
  font-size: 30px;
  color: #f16d7f;
}

@media (max-width: 400px) {
  .labelBottom {
    font-size: 21px;
  }
}

.featured {
  margin-top: 91px;
  text-align: center;
}

.featuredHeaderTop {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}

.featuredHeaderBottom {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  margin-bottom: 50px;
}

.featuredBrowseAllBtn {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin-top: 54px;
  border: none;
}

.products {
  display: grid;
  row-gap: 35px;
  grid-template-columns: repeat(auto-fit, 263px);
  justify-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

@media (max-width: 808px) {
  .products {
    justify-content: space-around;
  }
}

.products .featuredItem .featuredHover {
  position: absolute;
  width: 263px;
  height: 281px;
  background-color: rgba(58, 56, 56, 0.83);
  display: none;
}

.products .featuredItem .featuredHover button {
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products .featuredItem .featuredPicture {
  width: 263px;
  height: 281px;
  object-fit: contain;
  background-color: #efefef;
}

.products .featuredItem .featuredPicture img {
  height: 100%;
}

.products .featuredItem .featuredInfo {
  height: 83px;
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 18px;
  box-sizing: border-box;
}

.products .featuredItem .featuredInfo .featuredItemName {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  color: #222222;
}

.products .featuredItem .featuredInfo .featuredItemPrice {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #f16d7f;
  margin-top: 13px;
}

.products .featuredItem:hover .featuredHover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .featuredItem:hover .featuredInfo {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
}

.offerForWomen {
  margin-top: 113px;
  margin-bottom: 73px;
  display: grid;
  background-color: #222224;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas: "banner delivery" "banner discount" "banner quality";
}

@media (max-width: 1030px) {
  .offerForWomen {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "banner banner" "delivery discount" "quality .";
  }
}

@media (max-width: 555px) {
  .offerForWomen {
    grid-template-columns: 1fr;
    grid-template-areas: "banner" "delivery" "discount" "quality";
  }
}

.offerForWomenBanner {
  min-height: 529px;
  grid-area: banner;
  background: url(../images/offerForWomen.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
}

.offerForWomenText {
  position: absolute;
  left: 39px;
  top: 146px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}

@media (max-width: 1050px) {
  .offerForWomenText {
    bottom: 39px;
    top: initial;
  }
}

.offerForWomenLine1 {
  font-size: 53.7px;
}

.offerForWomen span {
  color: #f16d7f;
}

.offerForWomenLine2 {
  font-size: 32.2px;
}

.block1 {
  grid-area: delivery;
  background: url(../images/lorry.svg) no-repeat;
}

.block2 {
  grid-area: discount;
  background: url(../images/discount.svg) no-repeat;
}

.block3 {
  grid-area: quality;
  background: url(../images/crown.svg) no-repeat;
}

.infoBlock {
  color: #fbfbfb;
  letter-spacing: 0.025em;
  padding-left: 111px;
  padding-right: 37px;
  background-position: top 40px left 36px;
  transition-property: transform;
  transition-duration: 0.5s;
}

.infoBlock:hover .infoBlockHeader {
  transform: scale(1.1, 1.1);
}

.infoBlockHeader {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.infoBlockText {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 15px;
}

.reviewsAndSubscribe {
  background: url(../images/subscribeBackground.jpg) no-repeat, rgba(242, 242, 242, 0.5);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: left bottom;
  margin-bottom: 100px;
}

.reviewsAndSubscribe .container {
  display: flex;
  height: 438px;
}

@media (max-width: 1199px) {
  .reviewsAndSubscribe .container {
    flex-direction: column;
    height: auto;
  }
}

.reviews {
  width: 50%;
  border-right: 1px solid white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

@media (max-width: 1199px) {
  .reviews {
    width: 100%;
    border-bottom: 1px solid white;
    border-right: none;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
  }
}

.subscribe {
  width: 50%;
}

@media (max-width: 1199px) {
  .subscribe {
    width: 100%;
    padding-top: 25px;
    justify-content: center;
  }
}

.reviewsInside {
  display: flex;
  justify-content: space-between;
  width: 497px;
}

.reviewsInside img {
  width: 83px;
  height: 83px;
}

.reviewsText {
  width: 386px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
  margin-bottom: 3px;
}

@media (max-width: 520px) {
  .reviewsText {
    width: 280px;
  }
}

@media (max-width: 420px) {
  .reviewsText {
    width: 220px;
  }
}

@media (max-width: 380px) {
  .reviewsText {
    width: 200px;
  }
}

.reviewsName {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.reviewsLocation {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #222224;
}

.reviewsSwitcher {
  margin-top: 41px;
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.reviewsSwitcher div {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.reviewsSwitcher div:hover {
  cursor: pointer;
  background-color: #f16d7f;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.subscribeHeader {
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #222224;
}

.subscribeText {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.subscribeForm {
  display: flex;
  margin-top: 26px;
}

@media (max-width: 1199px) {
  .subscribeForm {
    margin-bottom: 40px;
  }
}

.subscribeForm input {
  width: 282px;
  height: 46px;
  background-color: #e1e1e1;
  outline: none;
  border: none;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  padding-left: 28px;
  box-sizing: border-box;
  font-family: inherit;
}

@media (max-width: 420px) {
  .subscribeForm input {
    width: 200px;
  }
}

.subscribeForm input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.67;
  font-family: inherit;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribeForm input::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.67;
  font-family: inherit;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribeForm input:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.67;
  font-family: inherit;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribeForm input:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.67;
  font-family: inherit;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribeBtn {
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border: none;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

footer {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  gap: 50px;
}

@media (max-width: 991px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 450px) {
  footer {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

footer .logo {
  transition-property: transform;
  transition-duration: 1s;
}

footer .logo:hover {
  transform: rotateX(180deg);
}

@media (max-width: 991px) {
  .footerDescription {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.footerDescriptionText {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}

.footerDescriptionText p {
  margin-top: 26px;
}

.footerSection {
  text-align: left;
}

.footerSection h2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 33px;
}

.footerSection a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  margin-bottom: 23px;
}

.footerSection a:hover {
  color: #f16d7f;
}

@media (max-width: 450px) {
  .footerSection:last-child a {
    display: inline;
    margin-right: 20px;
  }
}

@media (max-width: 450px) {
  .footerSection:last-child {
    grid-column: 1 / -1;
  }
}

.copyrightsAndSocialMedia {
  background: #e6e6e6;
  margin-top: 70px;
}

.copyrightsAndSocialMedia .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 80px;
  align-items: center;
}

@media (max-width: 1170px) {
  .copyrightsAndSocialMedia .container {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}

@media (max-width: 550px) {
  .copyrightsAndSocialMedia .container {
    grid-template-columns: 1fr;
  }
}

.copyrights {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

@media (max-width: 550px) {
  .copyrights {
    justify-self: center;
  }
}

.socialMedia {
  display: flex;
  justify-self: right;
}

@media (max-width: 550px) {
  .socialMedia {
    justify-self: center;
  }
}

.socialMedia a {
  text-decoration: none;
}

.socialMedia i {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #b2b2b2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-left: 8px;
  transition-property: transform;
  transition-duration: 1s;
}

.socialMedia i:hover {
  color: #f7f7f8;
  background-color: #f16d7f;
  transform: scale(1.3, 1.3);
}
/*# sourceMappingURL=style.css.map */